[submodule "socket-clock-client"]
	path = socket-clock-client
	url = git@github.com:Amitmahato/Socket-Clock-Client.git
[submodule "socket-clock-server"]
	path = socket-clock-server
	url = git@github.com:Amitmahato/Socket-Clock-Server.git
